@charset 'utf-8';

/* =================================================================
base css
================================================================= */

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  color: #5a5a5a;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;

  /* font-feature-settings: "palt"; */
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  overflow: hidden;
}

/* 画像のトリミング
================================================================= */

.photo-width {
  height: auto;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.photo-height {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

/* padding-top(%) = 高さ / 横幅 * 100 */

.item-box-triming {
  overflow: hidden;
  padding-top: 75%;
  position: relative;
}

.item-box-triming img {
  vertical-align: bottom;
}

/* objectFit
----------------------------------------------------------------- */

/* .of-width {
  font-family: 'object-fit: cover;';
  height: 300px;
  object-fit: cover;
  width: 100%;
} */

.of-height {
  font-family: "object-fit: cover;";
  height: 100%;
  object-fit: cover;
  width: 500px;
}

/* 画像の透過
================================================================= */

[class*="bgDark"] {
  background: #000;
  overflow: hidden;
}

.bgDark-04 img {
  opacity: .4;
}

.bgDark-06 img {
  opacity: .6;
}

.bgDark-08 img {
  opacity: .8;
}

/* パンくず
================================================================= */

#topic-path {
  background: #e8eee8;
  height: 50px;
  line-height: 50px;
}

#topic-path ul {

  /* font-size: 1.2rem; */
}

#topic-path ul li {
  display: inline-block;
}

#topic-path ul li span {
  font-size: 1.4rem;
}

#topic-path ul li:not(:last-child)::after {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 900;
  margin: 0 .5em;
  vertical-align: 2%;
}

#topic-path ul li a {
  display: inline;
}

#topic-path ul li a:hover {
  display: inherit;
  text-decoration: underline;
}

/* search
================================================================= */
#search {
  margin-top: 50px;
}

#search div nav ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

#search div nav ul li {
  border: 1px solid #5cb85c;
  width: calc(100% / 3);
}

#search div nav ul li a {
  color: #5cb85c;
  display: block;
  font-size: 1.6rem;
  padding: .9375em 0;
  transition: .5s all ease 0s;
}

#search div nav ul li a:hover {
  background: #5cb85c;
  color: #fff;
}

/* modal
================================================================= */

.modal-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.modal-flex li {
  border: 1px solid #5cb85c;
  color: #5cb85c;
  width: calc((100% - 10px) / 7);
}

/* ボタン
================================================================= */

.btn-wrapper {
  padding-top: 50px;
  text-align: center;
}

.btn-v1 {
  background: #5cb85c;
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  line-height: 3;
  margin: 0 auto;
  max-width: 270px;
  position: relative;
  text-align: center;
  transition: .5s all ease 0s;
  width: 100%;
}

.btn-v1::after {
  bottom: auto;
  color: #fff;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 900;
  left: auto;
  position: absolute;
  right: 2.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btn-v1:hover {
  background: none;
  border: 1px solid #5cb85c;
  color: #5cb85c;
}

.btn-v1:hover::after {
  color: #5cb85c;
}

.btn-v2 {
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  margin: 0 auto;
  max-width: 250px;
  padding: 1.07em 0;
  text-align: center;
  transition: .5s all ease 0s;
  width: 100%;
}

.btn-v2:hover {
  background: #fff;
  border: 1px solid #fff;
  color: #5cb85c;
}

/* リンク
================================================================= */

a {
  color: #5a5a5a;
  display: block;
  text-decoration: none;
}

.link-opacity {
  transition: .1s all ease 0s;
}

.link-opacity:hover {
  opacity: .8;
}

.linkbox {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* レイアウト
================================================================= */

.slid-img-content,
#topic-path > div,
#news > div,
#flow > div,
#items > div,
#info > div,
.footer-bottom > div,
#tirasi > div,
#hinmoku > div,
#type > div {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

#search div {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-10 > div {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding-left: 15px;
  padding-right: 15px;
}

#contents #main section {
  padding-bottom: 100px;
}

#contents #main section:nth-of-type(even) {
  background: #f7f6f3;
}

#footer {
  margin-top: 200px;
}

/* ページトップへ戻る
================================================================= */
#pageTop {
  bottom: 50px;
  height: auto;
  position: fixed;
  right: 15px;
  z-index: 10000;
}

#pageTop a {
  background: #0a3033;
  color: #f8f8f8;
  height: 60px;
  line-height: 60px;
  outline: none;
  text-align: center;
  text-decoration: none;
  width: 60px;
}

#pageTop a:hover {
  opacity: .9;
  text-decoration: none;
}

/* 見出し
================================================================= */

.heading-wrapper-2 {
  margin-bottom: 70px;
  padding-top: 70px;
  text-align: center;
}

/* .heading-wrapper-3 {
  margin-bottom: 70px;
  text-align: center;
} */

.heading-wrapper-reform {
  margin-bottom: 70px;
  text-align: center;
}

.heading-wrapper-exterior {
  margin-bottom: 70px;
  padding-top: 100px;
  text-align: center;
}

/* トップh2見出し */

.heading-2-top {
  font-family: "Roboto", "verdana", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: .05em;
}

.heading-2-top-bottom {
  color: #5cb85c;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .05em;
}

.heading-2 {
  display: inline-block;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  font-feature-settings: "palt";
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: .05em;
  position: relative;
}

.heading-2::before {
  background: #5cb85c;
  bottom: -5px;
  content: "";
  display: inline-block;
  height: 4px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 50px;
}

.left-heading-wrapper-3 {
  margin-bottom: 50px;
}

.left-heading-3 {
  background: #f7f6f3;
  border-radius: 3px;
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: .05em;
  line-height: 1.8;
  padding-left: .714em;
}

.heading-3 {
  font-size: 2.8rem;

  /* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 600; */
  font-weight: 500;
  letter-spacing: .05em;
}

.heading-3 {
  display: inline-block;
  line-height: 1.4;
  padding: .25em 1em;
  position: relative;
  top: 0;
}

.heading-3::before,
.heading-3::after {
  content: "";
  display: inline-block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 8px;
}

.heading-3::before {
  border-bottom: solid 1px black;
  border-left: solid 1px black;
  border-top: solid 1px black;
  left: 0;
}

.heading-3::after {
  border-bottom: solid 1px black;
  border-right: solid 1px black;
  border-top: solid 1px black;
  content: "";
  right: 0;
}

/* ヘッダー
================================================================= */

#header {
  background: #fff;
  border-top: 10px solid #5cb85c;
  height: 100px;

  /* padding: 15px; */

  /* position: fixed; */
  width: 100%;

  /* z-index: 9999; */
}

.header-log {
  max-width: 293px;
}

.header-log a {
  display: block;
}

.header-log img {
  width: 100%;
}

#header > div {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

#header > div nav {
  width: 60%;
}

.header_nav {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.header_nav li {
  width: calc(100% / 5);
}

.header_nav li a {

  /* display: inline-block; */
  display: block;
  position: relative;
}

/* 下からフェードイン */

.header_nav li a::after {
  background: #5cb85c;
  bottom: -8px;
  content: "";
  height: 5px;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: .3s;
  visibility: hidden;
  width: 100%;
}

.header_nav li a:hover::after {
  bottom: -16px;
  opacity: 1;
  visibility: visible;
}

/* 左から右 */

.header_nav li a::after {
  background: #5cb85c;
  bottom: -16px;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
  width: 100%;
}

.header_nav li a:hover::after {
  transform: scale(1, 1);
  transform-origin: left top;
}

.header_nav li span {
  display: block;
  text-align: center;
}

.header_nav li span:first-of-type {
  font-size: 2rem;
  font-weight: 700;
}

.header_nav li span:last-child {
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
}

/* フッター
================================================================= */

.footer-top {
  background: #e8eee8;
  height: 60px;
}

.footer_bottom {
  background: url(../images/48279865.jpg);
}

.footer-nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 60px;
  margin: 0 auto;
  max-width: 1200px;
}

.footer-nav li {
  font-size: 1.2rem;
  text-align: center;
  width: calc(100% / 7);
}

.footer-nav li a {
  display: inline-block;
  position: relative;
}

.footer-nav li a::after {
  background: #5a5a5a;
  bottom: 15px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
  width: 100%;
}

.footer-nav li a:hover::after {
  transform: scale(1, 1);
}

.bg-green {
  background: url(../images/common/footer/footer.jpg) center center / cover
    no-repeat;
}

.footer-bottom {
  background-color: rgba(92, 184, 92, .8);
}

.footer-bottom-address {
  color: #fff;
  padding-top: 45px;
}

.footer-bottom-address p span {
  font-size: 2rem;
}

.footer-bottom-address .el-address {
  font-size: 1.4rem;
  line-height: 1.75;
  margin-bottom: 15px;
}

.footer-bottom-address .el-kyoka {
  border: 1px solid #fff;
  display: inline-block;
  font-size: 1.2rem;
  padding: .4em 1.25em;
}

.footer-bottom-nav {
  align-items: center;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0;
}

.footer-bottom-nav div ul li {
  display: inline-block;
  font-size: 1.4rem;
}

.footer-bottom-nav div ul li a {
  color: #fff;
}

.footer-bottom-nav div ul li a:hover {
  text-decoration: underline;
}

.footer-bottom-nav div ul li:first-child {
  border-right: 1px solid #fff;
  padding-right: 15px;
}

.footer-bottom-nav div ul li:last-child {
  padding-left: 15px;
}

.modal-text {
  font-size: 4rem;
}

#modal {
  background: #fff;
  height: 200px;
  width: 300px;
}

/* news
================================================================= */

.article-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
  transition: .2s;
  width: calc((100% - 30px) / 2);
}

.article:hover {
  opacity: .8;
}

.article-triming {
  overflow: hidden;

  /* padding-top: 37%; */
  padding-top: 30%;
  position: relative;

  /* width: 50%; */
  width: 40%;
}

.article-text {
  background: #f7f7f7;
  padding: .625em;

  /* width: 50%; */
  width: 60%;
}

.article-text p {
  letter-spacing: .05em;
  line-height: 1.75;
}

.article-text time {
  font-family: "Roboto", "verdana", sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 1.875em;
  vertical-align: middle;
}

.article-text div:first-child {
  margin-bottom: .3125em;
}

.article-text h3 {
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: .3125em;
}

.category {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  text-align: center;
  width: 80px;
}

.cat-news {
  background: #5cb85c;
}

.cat-flyer {
  background: #f77825;
}

.cat-cnp {
  background: #ed5f68;
}

.cat-event {
  background: #5db999;
}

/* box
=================================================================  */

.box-wrapper {
  display: flex;
  position: relative;
  width: 100%;
}

.box-wrapper:hover .box-img img {
  transform: scale(1.2);
}

.box-img {
  display: inline-block;
  height: auto;
  overflow: hidden;
  width: 50%;
}

.box-img img {
  transition: all 1.8s 0s ease;
  vertical-align: bottom;
  width: 100%;
}

.box-img img:hover {
  transform: scale(1.2);
}

.box-text {
  background: #5cb85c;
  position: relative;
  width: 50%;
}

.box-text-inner {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.box-text h3 {
  color: #fff;
  font-size: 3.2rem;
  letter-spacing: .05em;
  margin-bottom: 1.56em;
  text-align: center;
}

/* item
================================================================= */

[class*="item-col"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-box {
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, .15);
  margin-bottom: 30px;
  position: relative;
}

.item-col3 .item-box {
  width: calc((100% - 90px) / 3);
}

.item-col4 .item-box {
  width: calc((100% - 90px) / 4);
}

.item-col3::after,
.item-col3 .item-box {
  width: calc((100% - 90px) / 3);
}

.item-col4::before,
.item-col4::after,
.item-col4 .item-box {
  width: calc((100% - 90px) / 4);
}

.item-col3::after,
.item-col4::before,
.item-col4::after {
  content: "";
}

.item-col4::before {
  order: 1;
}

.swiper-slide {
  position: relative;
}

.work-category {
  color: #fff;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .1em;
  line-height: 2.2;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.work-category.cat-exterior {
  background: rgba(92, 184, 92, .6);
}

.work-category.cat-reform {
  background: rgba(133, 88, 53, .6);
}

.work-category.cat-inaba {
  background: rgba(255, 133, 0, .6);
}

.work-category.cat-yodo {
  background: rgba(35, 148, 40, .6);
}

.work-category.cat-takubo {
  background: rgba(31, 43, 129, .6);
}

.item-box-text {
  align-items: center;
  background: #f7f7f7;
  border-radius: 0 0 3px 3px;
  display: flex;
  justify-content: center;

  /* min-height: 70px; */
  padding: 0 .5em;
}

.item-box-text h3 {
  font-size: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .05em;
  line-height: 3.5;
}

/* item
================================================================= */
