@charset 'utf-8';

/* =================================================================
base css
================================================================= */

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  color: #5a5a5a;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  min-width: 1200px;
  overflow: hidden;
}

/* 画像のトリミング */

.photo {
  height: auto;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

/* 画像の透過 */

.bgDark {
  overflow: hidden;
  position: relative;
}

.bgDark::before {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  content: " ";
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.8s;
}

/* flex */

ul {
  list-style: none;
}

/* #contents {
  min-width: 1200px;
} */

/* ボタン */

.btn-wrapper {
  text-align: center;
}

.btn {
  background: #5cb85c;
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  margin: 0 auto;
  max-width: 270px;
  padding: 0 1em;
  padding: 0.785em 0;
  text-align: center;
  width: 100%;
}

.btn i {
}

/* リンク */

a {
  color: #5a5a5a;
  text-decoration: none;
}

/* レイアウト */

#news > div,
#shop > div,
#flow > div,
#items > div,
#info > div {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

#contents #main section {
  padding-bottom: 100px;
}

#contents #main section:nth-child(even) {
  background: #f7f6f3;
}

#footer {
  margin-top: 100px;
}

/* 見出し */

.heading-wrapper {
  margin-bottom: 70px;
  padding-top: 70px;
  text-align: center;
}

.heading-2 {
  font-family: "Roboto", "verdana", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.heading-2-bottom {
  color: #5cb85c;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.heading-3 {
  font-size: 2.8rem;

  /* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 600; */
  font-weight: 500;
  letter-spacing: 0.05em;
}

.heading-3 {
  display: inline-block;
  line-height: 1.4;
  padding: 0.25em 1em;
  position: relative;
  top: 0;
}

.heading-3::before,
.heading-3::after {
  content: "";
  display: inline-block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 8px;
}

.heading-3::before {
  border-bottom: solid 1px black;
  border-left: solid 1px black;
  border-top: solid 1px black;
  left: 0;
}

.heading-3::after {
  border-bottom: solid 1px black;
  border-right: solid 1px black;
  border-top: solid 1px black;
  content: "";
  right: 0;
}

/* アーティクル */

.article-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 30px;
  width: calc((100% - 30px) / 2);
}

.article-triming {
  overflow: hidden;
  padding-top: 37%;
  position: relative;
  width: 50%;
}

.article-text {
  background: #f7f7f7;
  padding: 0.9375em;
  width: 50%;
}

.article-text p {
  letter-spacing: 0.05em;
  line-height: 1.75;
}

.article-text time {
  font-family: "Roboto", "verdana", sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 1.875em;
  vertical-align: middle;
}

.article-text > div {
  margin-bottom: 0.3125em;
}

.article-text h3 {
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0.625em;
}

.category {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  max-width: 80px;
  text-align: center;
  width: 100%;
}

.cat-news {
  background: #5cb85c;
}

.cat-flyer {
  background: #f77825;
}

.cat-cnp {
  background: #ed5f68;
}

.cat-event {
  background: #5db999;
}

/* ヘッダー */

#header {
  background: #fff;
  border-top: 10px solid #5cb85c;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.header-log {
  padding-left: 30px;
}

.header-log a {
  display: block;
}

.header-log img {
  max-width: 200px;
  width: 100%;
}

#header > div {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  justify-content: space-between;
}

#header > div nav {
  width: 60%;
}

.header_nav {
  display: flex;
  flex-wrap: wrap;
}

.header_nav li {
  width: calc(100% / 5);
}

.header_nav li span {
  display: block;
  text-align: center;
}

.header_nav li span:first-of-type {
  font-size: 2rem;
  font-weight: 700;
}

.header_nav li span:last-child {
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
}

/* フッター */

.footer-top {
  background: #e8eee8;
  height: 60px;
}

.footer_bottom {
  background: url(../images/48279865.jpg);
}

.footer-nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 60px;
  margin: 0 auto;
  max-width: 1200px;
}

.footer-nav li {
  font-size: 1.2rem;
  text-align: center;
  width: calc(100% / 7);
}

.footer-bottom > div {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.bg-green {
  background: url(../images/common/footer.jpg) center center / cover no-repeat;
}

.footer-bottom {
  background-color: rgba(92, 184, 92, 0.8);
}

.footer-bottom-address {
  color: #fff;
  padding-top: 45px;
}

.footer-bottom-address p span {
  font-size: 2rem;
}

.footer-bottom-address .el-address {
  font-size: 1.4rem;
  line-height: 1.75;
  margin-bottom: 15px;
}

.footer-bottom-address .el-kyoka {
  border: 1px solid #fff;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.4em 1.25em;
}

.footer-bottom-nav {
  align-items: center;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0;
}

.footer-bottom-nav div ul li {
  display: inline-block;
  font-size: 1.4rem;
}

.footer-bottom-nav div ul li a {
  color: #fff;
}

.footer-bottom-nav div ul li:first-child {
  border-right: 1px solid #fff;
  padding-right: 15px;
}

.footer-bottom-nav div ul li:last-child {
  padding-left: 15px;
}
