@charset 'utf-8';

/* =================================================================
items css
================================================================= */

/* レイアウト
================================================================= */

section > div {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

#contents #main section:nth-of-type(even) {
  background: inherit;
}

#mitumori > div > div {
  border: 2px solid #5cb85c;
}

#mitumori > div > div > div {
  margin-left: auto;
  margin-right: auto;
  max-width: 970px;
}

#mitumori > div > div > div div {
  margin-bottom: 70px;
}

/* page-bg
================================================================= */

.page-bg {
  position: relative;
  text-align: center;
}

.page-bg img {
  vertical-align: bottom;
  width: 100%;
}

.page-bg-inner {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.page-bg-inner h2 {
  color: #f8f8f8;
  font-family: 'Roboto', 'verdana', sans-serif;
  font-size: 6rem;
  letter-spacing: .05em;
  text-shadow: rgba(0, 0, 0, .2) 2px 3px 5px;
}

.page-bg-inner p {
  color: #f8f8f8;
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .05em;
  text-shadow: rgba(0, 0, 0, .2) 2px 3px 5px;
}

/* 見出し
================================================================= */

#type > div div.left-heading-wrapper-3:not(:first-child) {
  margin-top: 100px;
}

.mitumori-h2 {
  background: #5cb85c;
  color: #fff;
  font-size: 3.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .05em;
  line-height: 1.78;
  text-align: center;
}

#mitumori > div > div > div h3.mitumori-h3:first-child {
  margin-top: 50px;
}

.mitumori-h3 {
  background: #f7f6f3;
  border-radius: 3px;
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: .05em;
  line-height: 1.8;
  margin-bottom: 50px;
  padding-left: .714em;
}

.heading-wrapper-4 {
  margin-bottom: 50px;
}

.mitumori-4 {
  background: transparent;
  border-left: 5px solid #5cb85c;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: .05em;
  padding-left: .41em;
}

.size {
  margin-bottom: 70px;
}

.size ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.size ul li {
  text-align: center;
  width: calc(100% / 5);
}

.size ul li a {
  background: #fff;
  border: 1px solid #5cb85c;

  color: #5cb85c;
  padding: .625em;
  transition: .5s all ease 0s;
}

.size ul li a:hover {
  background: #5cb85c;
  color: #fff;
}

.size ul li a span:first-of-type {
  font-size: 2rem;
  font-weight: bold;
}

.size ul li a span:last-of-type {
  font-size: 1.4rem;
}

.size ul li a span {
  display: block;
}

/* ボタン
================================================================= */

.mitumori-btn-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  text-align: center;
  width: 100%;
}

.mitumori-btn {
  background: #f0676f;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .05em;
  line-height: 3.25;
  position: relative;
  transition: all .5s ease 0s;
}

.mitumori-btn::after {
  bottom: auto;
  color: #fff;
  content: '\f105';
  font-family: 'Font Awesome 5 Free';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 900;
  left: auto;
  position: absolute;
  right: 2.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mitumori-btn:hover {
  opacity: .8;
}

/* 画像
================================================================= */

.photo-height {
  height: 75%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -40%);
  width: auto;
}

/* 商品タイプ、商品、工事仕様
================================================================= */

.product-img-wrapper {
  margin: 0 auto;
  max-width: 375px;
  text-align: center;
}

.product-img-wrapper img {
  font-family: 'object-fit: cover;';
  height: auto;
  object-fit: cover;
  width: 100%;
}

.product-flex ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-flex ul li {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  line-height: 50px;
  padding: .625em 0;
  transition: all .2s ease 0s;
  width: calc((100% - 30px) / 2);
}

.product-flex ul li:nth-of-type(-n + 2) {
  border-top: 1px solid #ccc;
}

.product-flex ul li img {
  height: 50px;
  vertical-align: bottom;
  width: 50px;
}

.product-flex ul li:hover {
  background: rgba(101, 164, 203, .1);
}

.product-flex ul li label {
  cursor: pointer;
  display: inline-block;
  letter-spacing: .05em;
  padding-left: .9375em;
  position: relative;
  width: 85%;
}

.product-flex ul li label::before {
  color: #ccc;
  content: '\f111';
  font-family: 'Font Awesome 5 Free';
  font-size: 79%;
  font-weight: 900;
  margin-right: .9375em;
  vertical-align: .1em;
}

.product-flex input[type='radio']:checked + label::before {
  color: #88a1e6;
}

.product-flex2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-flex2 .product-flex ul {
  flex-direction: column;
}

.product-flex2 .product-flex ul li {
  width: 100%;
}

.product-flex2 .product-flex ul li:nth-last-of-type(2) {
  border-top: none;
}

.product-flex2 div {
  width: calc((100% - 30px) / 2);
}

.product-flex2 .product-text {
  letter-spacing: .05em;
  line-height: 1.75;
}

/* mitumori-list,mitumori-list-cost共通
=================================================================  */

.mitumori-list dl dt,
.mitumori-list-cost dl dt {
  text-align: left;
}

.mitumori-list dl dd,
.mitumori-list-cost dl dd {
  text-align: right;
}

.mitumori-list dl dt,
.mitumori-list dl dd,
.mitumori-list-cost dl dt,
.mitumori-list-cost dl dd {
  width: 50%;
}

/* mitumori-list
=================================================================  */

.mitumori-list {
  background: #f7f6f3;
  padding: 3.75em .9375em;
}

/* mitumori-list-cost
=================================================================  */

.mitumori-list-cost dl {
  border-top: 1px solid #ccc;
  letter-spacing: .05em;
  padding: .9375em;
}

.mitumori-list-cost dl:last-child {
  border-bottom: 1px solid #ccc;
  color: #ed5f68;
}

.mitumori-list-cost dl:nth-of-type(even) {
  background: #f2f2f2;
}
