@charset 'utf-8';

/* =================================================================
items css
================================================================= */

/* page-bg
================================================================= */

.page-bg {
  align-items: center;
  background: url(../images/items/items_main.jpg) center center / cover;
  display: flex;
  height: 500px;
  justify-content: center;
  position: relative;
  text-align: center;
}

.page-bg::before {
  background-color: rgba(0, 0, 0, .3);
  bottom: 0;
  content: ' ';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.page-bg-inner {
  position: absolute;
  text-align: center;
  width: 100%;
}

.page-bg-inner h2 {
  color: #f8f8f8;
  font-family: 'Roboto', 'verdana', sans-serif;
  font-size: 6rem;
  letter-spacing: .05em;
  text-shadow: rgba(0, 0, 0, .1) 2px 3px 5px;
}

.page-bg-inner p {
  color: #f8f8f8;
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .05em;
  text-shadow: rgba(0, 0, 0, .1) 2px 3px 5px;
}

/* 見出し
================================================================= */

#type > div div.left-heading-wrapper-3:not(:first-child) {
  margin-top: 100px;
}

.photo-height {
  height: 75%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -40%);
  width: auto;
}
