@charset 'utf-8';

/* =================================================================
items css
================================================================= */

/* スライダー
================================================================= */

.swiper-main {
  height: 500px;

  /* height: 100vh; */
}

/* .swiper-main {
  padding-top: 100px;
} */

/* .img div img {
  width: 100%;
} */

.img {
  align-items: center;
  background: url(../images/items/items_main.jpg) center center / cover;
  display: flex;
  height: 500px;
  justify-content: center;
  position: relative;
  text-align: center;
}

.img::before {
  background-color: rgba(0, 0, 0, .3);
  bottom: 0;
  content: ' ';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.img-inner {
  position: absolute;
  text-align: center;
  width: 100%;
}

.img-inner h2 {
  color: #f8f8f8;
  font-family: 'Roboto', 'verdana', sans-serif;
  font-size: 6rem;
  letter-spacing: .05em;
  text-shadow: rgba(0, 0, 0, .1) 2px 3px 5px;
}

.img-inner p {
  color: #f8f8f8;
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .05em;
  text-shadow: rgba(0, 0, 0, .1) 2px 3px 5px;
}

/* .img div {
  background-color: rgba(0, 0, 0, 0.2);
  height: 500px;
  text-align: center;
  width: 100%;
} */

.slid-img-content {
  left: 50%;
  max-width: 1200px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.slid-img-content .el-title {
  color: #fff;
  font-family: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
  font-size: 6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .1em;
  text-shadow: rgba(0, 0, 0, .1) 2px 3px 5px;
}

/* 取り扱い品目
================================================================= */

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-box {
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, .15);
  margin-bottom: 30px;
  position: relative;
  width: calc((100% - 90px) / 4);
}

.item::before,
.item::after,
.item .item-box {
  width: calc((100% - 90px) / 4);
}

.item::before,
.item::after {
  content: '';
}

.item::before {
  order: 1;
}

.swiper-slide {
  position: relative;
}

.work-category {
  color: #fff;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .1em;
  line-height: 30px;
  max-height: 30px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.work-category.cat-exterior {
  background: rgba(92, 184, 92, .6);
}

.work-category.cat-reform {
  background: rgba(133, 88, 53, .6);
}

.item-box-text {
  align-items: center;
  background: #f7f7f7;
  border-radius: 0 0 3px 3px;
  display: flex;
  justify-content: center;
  min-height: 70px;
  padding: 0 .5em;
}

.item-box-text h3 {
  font-size: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .05em;
  line-height: 1.5;
}

/* .triming-work {
  overflow: hidden;
  padding-top: 65%;
  position: relative;
}

.triming-work img {
  vertical-align: bottom;
} */
