@charset 'utf-8';

/* =================================================================
outer css
================================================================= */

.page-bg-inner h2 {
  font-family: '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック体', 'YuGothic', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'verdana', sans-serif;
  font-size: 4rem;
}

.heading-wrapper-2 {
  text-align: left;
}

.outer-heading {
  border-bottom: 2px solid #5cb85c;
  font-size: 3.2rem;
}

.outer-text {
  letter-spacing: .05em;
  line-height: 1.75;
}

.outer-box {
  background: #eee;
  margin-top: 50px;
  padding: 50px;
}

.outer-box p {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: .05em;
  line-height: 2;
  margin-bottom: 50px;
}
