@charset 'utf-8';

/* =================================================================
privacy css
================================================================= */

.page-catch {
  font-size: 1.6rem;
  letter-spacing: .05em;
  line-height: 1.75;
  margin-bottom: 100px;
}

.text-wrapper h3 {
  font-size: 1.6rem;
  letter-spacing: .05em;
}

.text {
  font-size: 1.6rem;
  letter-spacing: .1em;
  line-height: 1.75;
  margin-bottom: 30px;
}

.text:last-of-type {
  margin-bottom: 0;
}

.text-footer {
  margin-top: 70px;
}

.text-footer p {
  font-size: 1.6rem;
  letter-spacing: .05em;
  line-height: 1.75;
}
