@charset 'utf-8';

/* =================================================================
sp-base css
================================================================= */

/* 800px-1200px
================================================================= */

@media screen and (min-width: 800px) and (max-width: 1200px) {

  /* ボタン
  -----------------------------------------------------------------  */

  .btn-v2 {
    font-size: 1.17vw;
  }

  /* article
  ----------------------------------------------------------------- */

  .article {
    margin-bottom: 3.75%;
  }

  .article-text {
    padding: 1.76% 0 0 2.6%;
  }

  .article-text h3,
  .article-text p,
  .article-text time {
    font-size: 1.333vw;
  }

  .category {
    font-size: 1vw;
    min-width: 80px;
    width: 30%;
  }

  .article-text div:first-child {
    margin-bottom: 1.46%;
  }

  .box-text h3 {
    font-size: 2.6vw;
  }

  /* item
  ----------------------------------------------------------------- */

  .item-col4::before,
  .item-col4::after,
  .item-col4 .item-box {
    width: calc((100% - 7.5%) / 4);
  }

  .item-col3 .item-box {
    width: calc((100% - 7.5%) / 3);
  }

  .item-box {
    margin-bottom: 2.5%;
  }

  .item-box-text h3 {
    font-size: 1.67vw;
  }

  .work-category {
    font-size: 1.17vw;
  }

  .item-box-text time {
    font-size: 1.34vw;
  }
}

/* 1200px〜
================================================================= */

@media screen and (max-width: 1200px) {

  .slid-img-content .el-title {
    font-size: 4.9vw;
    white-space: nowrap;
  }

  .slid-img-content .el-text {
    font-size: 1.75vw;
  }
}

/* ～800px
================================================================= */

@media screen and (min-width: 800px) {

  /* 要素を隠す
  ----------------------------------------------------------------- */

  .pc-hide {
    display: none;
  }

  /* 改行
  ----------------------------------------------------------------- */

  .br::before {
    content: '\A';
    white-space: pre;
  }

  .br-sp::before {
    display: none;
  }
}

/* 800px～
================================================================= */

@media screen and (max-width: 800px) {

  /* 要素を隠す
  ----------------------------------------------------------------- */

  .sp-hide {
    display: none;
  }

  /* 改行
  ----------------------------------------------------------------- */

  .br::before {
    display: none;
  }

  .br-sp::before {
    content: '\A';
    white-space: pre;
  }

  /* レイアウト
  ----------------------------------------------------------------- */

  .slid-img-content,
  #news > div,
  #flow > div,
  #items > div,
  #info > div {
    padding-left: 3.8%;
    padding-right: 3.8%;
  }

  .footer-bottom > div {
    margin-left: -15px;
    margin-right: -15px;
  }

  /* 画像の透過
  ----------------------------------------------------------------- */

  .bgGreen {
    background: #5cb85c;
  }

  .bgBlue {
    background: #65a4cb;
  }

  .bgOrenge {
    background: #f77825;
  }

  .bgGreen img,
  .bgBlue img,
  .bgOrenge img {
    opacity: .5;
  }

  /* ページトップへ戻る
  ----------------------------------------------------------------- */

  #pageTop {
    bottom: 140px;
    right: 3.8%;
  }

  /* ボタン
  ----------------------------------------------------------------- */

  .btn-v2 {
    font-size: 2vw;
    max-width: inherit;
    padding: 1.25em;
    width: 100%;
  }

  #search div nav ul li a {
    font-size: 2vw;
  }

  /* ヘッダー
  ----------------------------------------------------------------- */

  #header {
    height: 80px;
    line-height: 80px;
  }

  .header-log {
    margin-left: auto;
    margin-right: auto;
  }

  /* フッター
  ----------------------------------------------------------------- */

  .footer-bottom {
    padding-bottom: 80px;
  }

  .footer-bottom-menu {
    background: #5cb85c;
    border-top: 1px solid #fff;
    bottom: 0;
    padding: 20px 0 15px 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
  }

  .footer-bottom-menu nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
  }

  .footer-bottom-menu nav ul li {
    border-right: 1px solid #fff;
    width: calc(100% / 4);
  }

  .footer-bottom-menu nav ul li:last-child {
    border-right: none;
  }

  .footer-bottom-menu nav ul li a div i,
  .footer-bottom-menu nav ul li a div span {
    display: block;
  }

  .footer-bottom-menu nav ul li a div {
    text-align: center;
  }

  .footer-bottom-menu nav ul li a {
    color: #fff;
  }

  .footer-bottom-menu nav ul li a div span {
    font-size: 1.2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600;
    margin-top: 5px;
  }

  .footer-bottom-nav {
    justify-content: center;
  }

  /* article
  ----------------------------------------------------------------- */

  .article {
    margin-bottom: 3.75%;
    width: 100%;
  }

  .article-text h3,
  .article-text p,
  .article-text time {
    font-size: 2.25vw;
  }

  .article-text {
    padding: 1.95%;
  }

  .article-text div:first-child {
    margin-bottom: 1.08%;
  }

  .category {
    font-size: 1.5vw;
  }

  /* box
  ----------------------------------------------------------------- */

  .box-wrapper {
    display: inherit;
  }

  .box-img {
    width: 100%;
  }

  .box-text {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }

  .box-text-inner {
    width: 100%;
  }

  .box-text-inner h3 {
    font-size: 5vw;
  }

  /* item
  ----------------------------------------------------------------- */

  .item-col3 .item-box {
    width: calc((100% - 3.75%) / 2);
  }

  .item-col4 .item-box {
    width: calc((100% - 3.75%) / 2);
  }

  .item-box {
    margin-bottom: 3.75%;
  }

  .item-box-text h3 {
    font-size: 2.5vw;
  }

  .work-category {
    font-size: 1.75vw;
  }

  /* list
  ----------------------------------------------------------------- */

  .list dl {
    font-size: 2vw;
    padding-left: 1.88%;
    padding-right: 1.88%;
  }

  .col-10 > div {
    margin-left: -15px;
    margin-right: -15px;
  }

  .list + p {

    /* font-size: 2vw; */
    font-size: 2.5vw;
    padding-left: 1.88%;
    padding-right: 1.88%;
  }
}

@media screen and (max-width: 500px) {

  /* item
  ----------------------------------------------------------------- */

  /* .item .item-box {
    width: 100%;
  }

  .item-box {
    margin-bottom: 6%;
  }

  .item-box-text h3 {
    font-size: 4vw;
  }

  .work-category {
    font-size: 2.8vw;
  }*/
}
