@charset 'utf-8';

/* =================================================================
sp-contact css
================================================================= */

/* 800px
================================================================= */

@media screen and (max-width: 800px) {

  .form form table tbody tr th,
  .form form table tbody tr td {
    display: block;
  }

  .form form table tbody tr th {
    border-bottom: none;
    padding: 30px 15px 15px 15px;
  }

  .form form table tbody tr td {
    padding: 0 15px 30px 15px;
    width: inherit;
  }
}
