@charset 'utf-8';

/* =================================================================
sp-company css
================================================================= */

/* 800px-1200px
================================================================= */

@media screen and (min-width: 800px) and (max-width: 1200px) {

  /*
  -----------------------------------------------------------------  */

  .company .box-text h3 {
    font-size: 2.92vw;
  }

  .company .box-text p {
    font-size: 1.667vw;
  }

  .company .circle {
    font-size: 2.92vw;
  }
}

/* 800px
================================================================= */

@media screen and (max-width: 800px) {

  .company .box-wrapper {
    position: relative;
  }

  .company .box-text {
    position: absolute;
  }

  .company .box-img {
    width: 100%;
  }

  /*レイアウト
  -----------------------------------------------------------------  */

  .col-10 > div {
    margin-left: 0;
    margin-right: 0;
  }

  /*box
  -----------------------------------------------------------------  */

  .company .box-text {
    width: 100%;
  }

  .company .box-text h3 {
    color: #fff;
    text-shadow: rgba(0, 0, 0, .2) 2px 3px 5px;
  }

  .company .box-text p {
    color: #fff;
    text-shadow: rgba(0, 0, 0, .2) 2px 3px 5px;
  }

  .page-catch {
    font-size: 2.4rem;
  }

  /*list
  -----------------------------------------------------------------  */

  .list dl {
    flex-direction: column;
    font-size: 1.6rem;
    padding: .9375em;
  }

  .list dl dt {
    margin-bottom: .9375em;
  }

  .list dl dt,
  .list dl dd {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {

  /*box
  -----------------------------------------------------------------  */

  .company .box-text h3 {
    font-size: 2.4rem;
  }

  .company .box-text p {
    font-size: 1.6rem;
  }
}
