@charset 'utf-8';

/* =================================================================
sp-flow css
================================================================= */

/* 800px
================================================================= */

@media screen and (max-width: 800px) {

  section > div {
    margin-left: -15px;
    margin-right: -15px;
  }

  .description {
    padding: 8.75% 12.5%;
  }

  .description ol li h3 {
  }
}

@media screen and (max-width: 500px) {

  .description ol li h3 {
    font-size: 4.8vw;
    width: 100%;
  }
}
