@charset 'utf-8';

/* =================================================================
sp-items css
================================================================= */

@media screen and (min-width: 800px) and (max-width: 1200px) {

  .item-box-text h3 {
    font-size: 1.666vw;
  }
}

@media screen and (max-width: 800px) {

  .item-box {
    width: calc((100% - 30px) / 2);
  }

  .item::before,
  .item::after,
  .item .item-box {
    width: calc((100% - 30px) / 2);
  }

  #search div nav ul li a {
    font-size: 2vw;
  }

  .item-box-text h3 {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 500px) {

  .item-box {
    width: 100%;
  }

  .item::before,
  .item::after,
  .item .item-box {
    width: 100%;
  }

  .item-box-text h3 {
    font-size: 4vw;
  }
}
