@charset 'utf-8';

/* =================================================================
sp-partner css
================================================================= */

@media screen and (max-width: 800px) {

  #contents #main section:not(:first-child) > div,
  #contents #main section:not(:last-child) > div {
    margin-left: -15px;
    margin-right: -15px;
  }

  .page-catch {
    font-size: 1.6rem;
  }

  .list dl {
    flex-direction: column;
    font-size: 1.6rem;
    padding: .9375em;
  }

  .list dl dt {
    margin-bottom: .9375em;
  }

  .list dl dt,
  .list dl dd {
    width: 100%;
  }
}
