@charset 'utf-8';

/* =================================================================
sp-recruit css
================================================================= */

/* 800px
================================================================= */

@media screen and (max-width: 800px) {

  .list dl {
    flex-direction: column;
    font-size: 1.6rem;
    padding: .9375em;
  }

  .list dl dt {
    margin-bottom: .9375em;
  }

  .list dl dt,
  .list dl dd {
    width: 100%;
  }
}
