@charset 'utf-8';

/* =================================================================
sp-style css
================================================================= */

/* 800px-1200px
================================================================= */

@media screen and (min-width: 800px) and (max-width: 1200px) {

  /* shop
  ----------------------------------------------------------------- */

  .shop-flex-inner h3,
  .shop-flex-inner p {
    font-size: 1.333vw;
  }

  /* info
  ----------------------------------------------------------------- */

  .info-flex::before,
  .info-flex::after,
  .info-flex .info-flex-child {
    width: calc((100% - 7.5%) / 4);
  }

  .info-flex-child {
    margin-bottom: 2.5%;
  }
}

/* 800px
================================================================= */

@media screen and (max-width: 800px) {

  /* 見出し
  ----------------------------------------------------------------- */

  .top .heading-2-top {
    font-size: 3.2rem;
  }

  .top .heading-wrapper-reform,
  .top .heading-wrapper-exterior {
    padding-left: 3.75%;
    padding-right: 3.75%;
  }

  .top .heading-3 {
    font-size: 2.4rem;
  }

  /* ページャー
  ----------------------------------------------------------------- */

  /* トップ
================================================================= */

  /* shop
  ----------------------------------------------------------------- */

  .shop-triming img {
    font-family: 'object-fit: cover';
    height: 300px;
    object-fit: cover;
    width: 100%;
  }

  .shop-flex {
    flex-direction: column;
  }

  .shop-flex-child {
    width: 100%;
  }

  .shop-flex-inner {
    width: 70%;
  }

  .shop-flex-inner h3,
  .shop-flex-inner p {
    font-size: 2.25vw;
  }

  .shop-flex-inner h3 {
    border: 1px solid #f0f0f0;
    box-shadow: 0 0 8px rgba(255, 255, 255, .8) inset;
  }

  /* info
  ----------------------------------------------------------------- */

  .info-flex .info-flex-child {
    width: calc((100% - 3.75%) / 2);
  }

  .info-flex .info-flex-child img {
    width: 100%;
  }

  .info-flex-child {
    margin-bottom: 3.75%;
  }

  /* 施工事例ページ
================================================================= */

  /* page-catch
----------------------------------------------------------------- */

  .work .page-catch {
    margin-bottom: 12.5%;
  }

  /* 企業情報ページ
  ================================================================= */

  /* page-catch
----------------------------------------------------------------- */

  .company .page-catch {
    font-size: 2.4rem;
    margin-bottom: 12.5%;
  }

  /* outer
  ================================================================= */

  .outer .page-bg-inner h2 {
    font-size: 2.8rem;
  }

  .outer .heading-wrapper-2 h2 {
    font-size: 2.4rem;
  }

  .outer-box {
    margin-top: 6.25%;
    padding-left: 6.25%;
    padding-right: 6.25%;
  }

  /* privacy
================================================================= */

  .privacy .page-catch {
    margin-bottom: 12.5%;
  }

  .privacy .text-footer {
    margin-top: 8.75%;
  }

  /* 投稿ページ
  ================================================================= */

  /* news,work共通
  ----------------------------------------------------------------- */

  #article .date {
    padding-top: 8.75%;
  }

  #article time {
    font-size: 1.8rem;
    padding-right: 15px;
  }

  #article .date .cat {
    font-size: 1.2rem;
    padding: .1em 0;
  }

  #article h2 {
    font-size: 2.8rem;
  }

  #article h3 {
    font-size: 2.4rem;
  }

  #article .article-h2 {
    margin-bottom: 8.75%;
  }

  #article .article-h3 {
    margin-bottom: 3.75%;
    padding-top: 3.75%;
  }

  /* news
  ----------------------------------------------------------------- */

  .news #search div {
    padding-left: 3.75%;
    padding-right: 3.75%;
  }

  /* work
  ----------------------------------------------------------------- */
}

/* 500px
================================================================= */

@media screen and (max-width: 500px) {

  /* 店舗ページ
  ================================================================= */

  /* shop
   ----------------------------------------------------------------- */

  .shop-triming img {
    height: 200px;
  }

  /* outer
  ================================================================= */

  .outer .page-bg-inner h2 {
    font-size: 2.4rem;
  }

  .outer .heading-wrapper-2 h2 {
    font-size: 2rem;
  }

  /* news
  ================================================================= */

  /* archive
  -----------------------------------------------------------------  */
  .news #search div ul li:first-of-type {
    flex-basis: 100%;
  }

  .news #search div ul li:not(:first-of-type) {
    flex-basis: 50%;
  }

  .news #article h2 {
    font-size: 2.4rem;
  }

  .news #article h3 {
    font-size: 2rem;
  }
}
