@charset 'utf-8';

/* =================================================================
sp-sho@ css
================================================================= */

/* 800px-1200px
================================================================= */

@media screen and (min-width: 800px) and (max-width: 1200px) {
}

/* 800px
================================================================= */

@media screen and (max-width: 800px) {

  /* list
----------------------------------------------------------------- */

  .list dl {
    flex-direction: column;
    font-size: 1.6rem;
    padding: .9375em;
  }

  .list dl dt {
    margin-bottom: .9375em;
    width: 100%;
  }

  .list dl dd {
    width: 100%;
  }

  .list + p {
    font-size: 1.6rem;
    padding-left: .9375em;
    padding-right: .9375em;
  }
}
