@charset 'utf-8';

/* =================================================================
sp-top css
================================================================= */

@media screen and (min-width: 800px) and (max-width: 1200px) {

  .article-text {
    padding: 2.6315%;
  }

  .article-text h3,
  .article-text p,
  .article-text time {
    font-size: 1.333vw;
  }

  .category {
    font-size: 1vw;
    width: 50%;
  }
}

@media screen and (max-width: 800px) {

  /* news */
  .article {
    width: 100%;
  }

  .article-text h3,
  .article-text p,
  .article-text time {
    font-size: 2vw;
  }

  .article-text {
    padding: 2.7%;
  }

  /* shop */
  .shop-flex-child {
    width: 100%;
  }

  /* items */

  /* info */

  .info-flex .info-flex-child {
    width: calc((100% - 30px) / 2);
  }

  .info-flex .info-flex-child img {
    width: 100%;
  }
}
