@charset 'utf-8';

/* =================================================================
sp-top css
================================================================= */

/* 800px-1200px
================================================================= */

@media screen and (min-width: 800px) and (max-width: 1200px) {

  /* info
  ----------------------------------------------------------------- */

  .info-flex::before,
  .info-flex::after,
  .info-flex .info-flex-child {
    width: calc((100% - 7.5%) / 4);
  }

  .info-flex-child {
    margin-bottom: 2.5%;
  }

  /* shop
  ----------------------------------------------------------------- */

  .shop-flex-inner h3,
  .shop-flex-inner p {
    font-size: 1.333vw;
  }
}

/* 800px
================================================================= */

@media screen and (max-width: 800px) {

  /* shop
  ----------------------------------------------------------------- */

  .shop-triming img {
    font-family: 'object-fit: cover';
    height: 300px;
    object-fit: cover;
    width: 100%;
  }

  .shop-flex {
    flex-direction: column;
  }

  .shop-flex-child {
    width: 100%;
  }

  .shop-flex-inner {
    width: 70%;
  }

  .shop-flex-inner h3,
  .shop-flex-inner p {
    font-size: 2.25vw;
  }

  .shop-flex-inner h3 {
    border: 1px solid #f0f0f0;
    box-shadow: 0 0 8px rgba(255, 255, 255, .8) inset;
  }

  /* items
  ----------------------------------------------------------------- */

  /* info
  ----------------------------------------------------------------- */

  .info-flex .info-flex-child {
    width: calc((100% - 3.75%) / 2);
  }

  .info-flex .info-flex-child img {
    width: 100%;
  }

  .info-flex-child {
    margin-bottom: 3.75%;
  }
}
