@charset 'utf-8';

/* =================================================================
style css
================================================================= */

/* トップ
================================================================= */

.slid img {
  vertical-align: bottom;
  width: 100%;
}

.slid {
  position: relative;
}

.swiper-slide a {
  transition: .1s all ease 0s;
}

.swiper-slide a:hover {
  opacity: .9;
}

.swiper-slide a:hover + .slid-img-content .el-btn {
  opacity: .8;
}

.slid-img-content {
  left: 50%;
  max-width: 1200px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -55%);
  transform: translate(-50%, -55%);
  width: 100%;
}

.slid-img-content .el-title {
  color: #fff;
  font-family: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
  font-size: 5.9rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .1em;
  text-shadow: rgba(0, 0, 0, .2) 2px 3px 5px;
}

.slid-img-content .el-text {
  color: #fff;
  font-size: 2.1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .1em;
  padding-left: 7px;
  text-shadow: rgba(0, 0, 0, .2) 2px 3px 5px;
}

.slid-img-content .el-btn {
  margin: 0 auto;
  margin-top: 2.5%;
  text-align: center;
}

.slid-img-content .el-btn a {
  background-color: rgba(255, 255, 255, .15);
  border: 1px solid #f9f9f9;
  border-radius: 100px;
  color: #f9f9f9;
  display: inline-block;
  font-size: 1.8rem;
  letter-spacing: .1em;
  max-width: 270px;
  padding: .8333em 0;
  position: relative;
  width: 100%;
}

.slid-img-content .el-btn a::after {
  bottom: auto;
  color: #fff;
  content: '\f105';
  font-family: 'Font Awesome 5 Free';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 900;
  left: auto;
  position: absolute;
  right: 2.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slid-img-content .el-btn a:hover {
}

/* shop
----------------------------------------------------------------- */

.shop-flex {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shop-flex-child {
  position: relative;

  /* width: calc(100% / 3); */
}

.shop-flex-1,
.shop-flex-2,
.shop-flex-3 {
  flex-basis: 33.333%;
}

.shop-flex-4,
.shop-flex-5,
.shop-flex-6,
.shop-flex-7 {
  flex-basis: 25%;
}

.shop-flex-child a:hover .shop-flex-inner h3 {
  border: 1px solid #f0f0f0;
  box-shadow: 0 0 30px rgba(255, 255, 255, .6) inset;
  transition: 3s all ease 0s;
}

.shop-flex-child a:hover .bgDark-04 img {
  background-color: rgba(0, 0, 0, .6);
  opacity: .7;
  transition: 3s all ease 0s;
}

.shop-flex-child img {
  display: block;
  transition: transform .8s linear;
  width: 100%;
}

.shop-flex-child img:hover {
  transform: scale(1.2);
}

.shop-flex-inner {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.shop-flex-inner h3 {
  color: #f0f0f0;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: .05em;
  line-height: 3.125;
  margin-bottom: 3.125em;
  margin-left: auto;
  margin-right: auto;
  transition: all .6s;
  width: 70%;
}

.shop-flex-inner p {
  color: #f0f0f0;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: .05em;
  line-height: 1.5;
}

/* works
----------------------------------------------------------------- */

.swiper-slide {
  position: relative;
}

.work-category {
  color: #fff;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .1em;
  line-height: 30px;
  max-height: 30px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.swiper-reform .work-category {
  background: rgba(133, 88, 53, .6);
}

.swiper-exterior .work-category {
  background: rgba(92, 184, 92, .6);
}

.work-text time {
  font-family: 'Roboto', 'verdana', sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swiper-slide {
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, .15);
}

.work-text {
  background: #f7f7f7;
  border-radius: 0 0 3px 3px;
  min-height: 100px;
  padding: .625em .9375em;
}

.work-text h3 {
  font-size: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .1em;
  line-height: 1.5;
}

.swiper-parent {
  position: relative;
}

.triming-work {
  overflow: hidden;
  padding-top: 56%;
  position: relative;
}

.triming-work img {
  vertical-align: bottom;
}

.swiper-button-prev,
.swiper-container-rtl,
.swiper-button-next {
  background-color: rgba(255, 255, 255, .5);
  background-size: 80%;
}

.swiper-pagination {
  left: 0;
  width: 100%;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
  margin: 0 4px;
}

.swiper-reform,
.swiper-exterior {
  padding-bottom: 50px;
}

.swiper-button-prev,
.swiper-button-next {
  margin-top: -22px;

  /* ボタンの高さ（44px）の半分のネガティブマージンで上に少しずらす */
  top: calc((100% - 50px) * .5);

  /* ページネーション・スクロールバー（50px）を除く縦位置の中央（＝スライドの高さの中央）に一旦配置 */
}

.swiper-pagination-brown .swiper-pagination-bullet-active {
  background: #855835;
}

.swiper-pagination-green .swiper-pagination-bullet-active {
  background: #5cb85c;
}

#works .btn-wrapper {
  padding-top: 50px;
}

/* items
----------------------------------------------------------------- */

#items .box-img {
  order: 2;
}

#items .box-text {
  order: 1;
}

/* flow
----------------------------------------------------------------- */

#flow .box-img {
  order: 1;
}

#flow .box-text {
  order: 2;
}

/* info
----------------------------------------------------------------- */

.info-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info-flex-child {
  margin-bottom: 30px;
}

.info-flex::before,
.info-flex::after,
.info-flex .info-flex-child {
  width: calc((100% - 90px) / 4);
}

.info-flex::before,
.info-flex::after {
  content: '';
}

.info-flex::before {
  order: 1;
}

.info-flex img {
  height: auto;
  vertical-align: bottom;
  width: 100%;
}

/* 店舗ページ
================================================================= */

/* アクセス
----------------------------------------------------------------- */

.map {
  height: 400px;
  overflow: hidden;
  padding-bottom: 39.475%;
  position: relative;
}

.map iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* 施工事例ページ
================================================================= */

/* page-catch
----------------------------------------------------------------- */

.work .page-catch {
  font-size: 2rem;
  letter-spacing: .05em;
  line-height: 2;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

/* 施工事例ページ
================================================================= */

.photo-height {
  height: 75%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -40%);
  width: auto;
}

#contents.item #main section:nth-of-type(even) {
  background: inherit;
}

#mitumori > div > div {
  border: 2px solid #5cb85c;
}

#mitumori > div > div > div {
  margin-left: auto;
  margin-right: auto;
  max-width: 970px;
}

#mitumori > div > div > div div {
  margin-bottom: 70px;
}

/* 見出し
----------------------------------------------------------------- */

#type > div div.left-heading-wrapper-3:not(:first-child) {
  margin-top: 100px;
}

.mitumori-h2 {
  background: #5cb85c;
  color: #fff;
  font-size: 3.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .05em;
  line-height: 1.78;
  text-align: center;
}

#mitumori > div > div > div h3.mitumori-h3:first-child {
  margin-top: 50px;
}

.mitumori-h3 {
  background: #f7f6f3;
  border-radius: 3px;
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: .05em;
  line-height: 1.8;
  margin-bottom: 50px;
  padding-left: .714em;
}

.heading-wrapper-4 {
  margin-bottom: 50px;
}

.mitumori-4 {
  background: transparent;
  border-left: 5px solid #5cb85c;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: .05em;
  padding-left: .41em;
}

.size {
  margin-bottom: 70px;
}

.size ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.size ul li {
  text-align: center;
  width: calc(100% / 5);
}

.size ul li a {
  background: #fff;
  border: 1px solid #5cb85c;

  color: #5cb85c;
  padding: .625em;
  transition: .5s all ease 0s;
}

.size ul li a:hover {
  background: #5cb85c;
  color: #fff;
}

.size ul li a span:first-of-type {
  font-size: 2rem;
  font-weight: bold;
}

.size ul li a span:last-of-type {
  font-size: 1.4rem;
}

.size ul li a span {
  display: block;
}

/* ボタン
----------------------------------------------------------------- */

.mitumori-btn-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  text-align: center;
  width: 100%;
}

.mitumori-btn {
  background: #f0676f;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .05em;
  line-height: 3.25;
  position: relative;
  transition: all .5s ease 0s;
}

.mitumori-btn::after {
  bottom: auto;
  color: #fff;
  content: '\f105';
  font-family: 'Font Awesome 5 Free';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 900;
  left: auto;
  position: absolute;
  right: 2.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mitumori-btn:hover {
  opacity: .8;
}

/* 画像
----------------------------------------------------------------- */

.photo-height {
  height: 75%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -40%);
  width: auto;
}

/* 商品タイプ、商品、工事仕様
----------------------------------------------------------------- */

.product-img-wrapper {
  margin: 0 auto;
  max-width: 375px;
  text-align: center;
}

.product-img-wrapper img {
  font-family: 'object-fit: cover;';
  height: auto;
  object-fit: cover;
  width: 100%;
}

.product-flex ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-flex ul li {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  line-height: 50px;
  padding: .625em 0;
  transition: all .2s ease 0s;
  width: calc((100% - 30px) / 2);
}

.product-flex ul li:nth-of-type(-n + 2) {
  border-top: 1px solid #ccc;
}

.product-flex ul li img {
  height: 50px;
  vertical-align: bottom;
  width: 50px;
}

.product-flex ul li:hover {
  background: rgba(101, 164, 203, .1);
}

.product-flex ul li label {
  cursor: pointer;

  /* display: inline-block; */
  display: block;
  letter-spacing: .05em;
  padding-left: .9375em;
  position: relative;

  /* width: 85%; */

  width: 100%;
}

.product-flex ul li label::before {
  color: #ccc;
  content: '\f111';
  font-family: 'Font Awesome 5 Free';
  font-size: 79%;
  font-weight: 900;
  margin-right: .9375em;
  vertical-align: .1em;
}

.product-flex input[type='radio']:checked + label::before {
  color: #88a1e6;
}

.product-flex2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-flex2 .product-flex ul {
  flex-direction: column;
}

.product-flex2 .product-flex ul li {
  width: 100%;
}

.product-flex2 .product-flex ul li:nth-last-of-type(2) {
  border-top: none;
}

.product-flex2 div {
  width: calc((100% - 30px) / 2);
}

.product-flex2 .product-text {
  letter-spacing: .05em;
  line-height: 1.75;
}

/* mitumori-list,mitumori-list-cost共通
-----------------------------------------------------------------  */

.mitumori-list dl dt,
.mitumori-list-cost dl dt {
  text-align: left;
}

.mitumori-list dl dd,
.mitumori-list-cost dl dd {
  text-align: right;
}

.mitumori-list dl dt,
.mitumori-list dl dd,
.mitumori-list-cost dl dt,
.mitumori-list-cost dl dd {
  width: 50%;
}

/* mitumori-list
-----------------------------------------------------------------  */

.mitumori-list {
  background: #f7f6f3;
  padding: 3.75em .9375em;
}

/* mitumori-list-cost
----------------------------------------------------------------- */

.mitumori-list-cost dl {
  border-top: 1px solid #ccc;
  letter-spacing: .05em;
  padding: .9375em;
}

.mitumori-list-cost dl:last-child {
  border-bottom: 1px solid #ccc;
  color: #ed5f68;
}

.mitumori-list-cost dl:nth-of-type(even) {
  background: #f2f2f2;
}

/* 企業情報ページ
================================================================= */

/* search
----------------------------------------------------------------- */

.company #search div {
  max-width: 430px;
}

.company #search div nav ul li {
  width: calc(100% / 2);
}

/* page-catch
----------------------------------------------------------------- */

.page-catch {
  font-family: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
  font-feature-settings: 'palt';
  font-size: 3.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .1em;
  line-height: 1.75;
  margin-bottom: 100px;
  text-align: center;
}

/* box
----------------------------------------------------------------- */

/* 採用情報ページ
================================================================= */

/* privacy
================================================================= */

.privacy .page-catch {
  font-size: 1.6rem;
  letter-spacing: .05em;
  line-height: 1.75;
  margin-bottom: 100px;
}

.text-wrapper h3 {
  font-size: 1.6rem;
  letter-spacing: .05em;
}

.text {
  font-size: 1.6rem;
  letter-spacing: .1em;
  line-height: 1.75;
  margin-bottom: 30px;
}

.text:last-of-type {
  margin-bottom: 0;
}

.text-footer {
  margin-top: 70px;
}

.text-footer p {
  font-size: 1.6rem;
  letter-spacing: .05em;
  line-height: 1.75;
}

/* outer
================================================================= */

.outer .page-bg-inner h2 {
  font-family: '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック体', 'YuGothic', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'verdana', sans-serif;
  font-size: 4rem;
}

.outer .heading-wrapper-2 {
  text-align: left;
}

.outer-heading {
  border-bottom: 2px solid #5cb85c;
  font-size: 3.2rem;
}

.outer-text {
  letter-spacing: .05em;
  line-height: 1.75;
}

.outer-box {
  background: #eee;
  margin-top: 50px;
  padding: 50px;
}

.outer-box p {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: .05em;
  line-height: 2;
  margin-bottom: 50px;
}

/* 投稿ページ
================================================================= */

/* news,work共通
----------------------------------------------------------------- */

/* 画像
******************** */

#article img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

/* 見出し
******************** */

#article .article-h2 {
  margin-bottom: 70px;
  padding-top: 70px;
  text-align: left;
}

#article .article-h3 {
  margin: 0 0 30px 0;
  padding-top: 30px;
}

#article h2 {
  background: #f7f6f3;
  border-top: 2px solid #55ab55;
  font-size: 3.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .05em;
  padding: .09375em 0 .09375em .46875em;
  text-align: left;
}

#article h3 {
  background: #f7f6f3;
  border-left: 5px solid #55ab55;
  font-size: 2.8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .05em;
  padding: .26785em 0 .26785em .46875em;
}

#article h4 {
  border-left: 5px solid #55ab55;
  font-size: 2.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .05em;
  margin: 30px 0 10px 0;
  padding-left: .41667em;
}

/* 本文
******************** */

#article p {
  color: #5a5a5a;
  font-size: 1.6rem;
  letter-spacing: .05em;
  line-height: 1.75;
  margin-bottom: 15px;
  text-align: left;
}

#article p:last-of-type {
  margin-top: 50px;
}

/* その他
******************** */

#article time {
  font-size: 2.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
}

#article .date {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 15px;
  padding-top: 70px;
}

#article .date time {
  padding-right: 30px;
}

#article .date .cat {
  color: #fff;
  font-size: 1.4rem;
  line-height: 20px;
  padding: .357em 0;
  text-align: center;
  width: 80px;
}

/* news
----------------------------------------------------------------- */

.news #article .article-h2 {
  padding-top: 0;
}

/* work
----------------------------------------------------------------- */

.work #article .date {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 15px;
  padding-top: 0;
}

.work #article p:last-of-type {
  margin-top: 50px;
}
