@charset 'utf-8';

/* =================================================================
tenpo css
================================================================= */

/* スライダー
================================================================= */

/* .swiper-main {
  height: 500px;
} */

/* .swiper-main {
  padding-top: 100px;
} */

.slid {
  position: relative;
}

.slid_img1 {
  background: url(../images/slid/tenzi.jpg) center center / cover;
}

.slid_img2 {
  background: url(../images/slid/zisedai_1900-500.jpg) center center / cover;
}

.slid_img3 {
  background: url(../images/slid/gaiheki.jpg) center center / cover;
}

.slid-img-content {
  left: 50%;
  max-width: 1200px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.slid-img-content .el-title {
  color: #fff;
  font-family: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
  font-size: 6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .1em;
  text-shadow: rgba(0, 0, 0, .1) 2px 3px 5px;
}


/* list
================================================================= */



/* アクセス
================================================================= */

.map {
  height: 400px;
  overflow: hidden;
  padding-bottom: 39.475%;
  position: relative;
}

.map iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
