@charset 'utf-8';

/* =================================================================
tenpo css
================================================================= */

/* スライダー
================================================================= */

.swiper-main {
  height: 500px;

  /* height: 100vh; */
}

/* .swiper-main {
  padding-top: 100px;
} */

.slid {
  position: relative;
}

.slid_img1 {
  background: url(../images/slid/tenzi.jpg) center center / cover no-repeat;
}

.slid_img2 {
  background: url(../images/slid/zisedai_1900-500.jpg) center center / cover
    no-repeat;
}

.slid_img3 {
  background: url(../images/slid/gaiheki.jpg) center center / cover no-repeat;
}

.slid-img-content {
  left: 50%;
  max-width: 1200px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.slid-img-content .el-title {
  color: #fff;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: rgba(0, 0, 0, 0.1) 2px 3px 5px;
}

/* news
================================================================= */

.article-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
  transition: 0.2s;
  width: calc((100% - 30px) / 2);
}

.article:hover {
  opacity: 0.8;
}

.article-triming {
  overflow: hidden;

  /* padding-top: 37%; */
  padding-top: 30%;
  position: relative;

  /* width: 50%; */
  width: 40%;
}

.article-text {
  background: #f7f7f7;
  padding: 0.625em;

  /* width: 50%; */
  width: 60%;
}

.article-text p {
  letter-spacing: 0.05em;
  line-height: 1.75;
}

.article-text time {
  font-family: "Roboto", "verdana", sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 1.875em;
  vertical-align: middle;
}

.article-text div:first-child {
  margin-bottom: 0.3125em;
}

.article-text h3 {
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0.3125em;
}

.category {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  text-align: center;
  width: 80px;
}

.cat-news {
  background: #5cb85c;
}

.cat-flyer {
  background: #f77825;
}

.cat-cnp {
  background: #ed5f68;
}

.cat-event {
  background: #5db999;
}

/* 取り扱い品目
================================================================= */

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-box {
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
  position: relative;
  width: calc((100% - 90px) / 4);
}

.item::before,
.item::after,
.item .item-box {
  width: calc((100% - 90px) / 4);
}

.item::before,
.item::after {
  content: "";
}

.item::before {
  order: 1;
}

.swiper-slide {
  position: relative;
}

.work-category {
  color: #fff;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 30px;
  max-height: 30px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.work-category.cat-exterior {
  background: rgba(92, 184, 92, 0.6);
}

.work-category.cat-reform {
  background: rgba(133, 88, 53, 0.6);
}

.item-box-text {
  align-items: center;
  background: #f7f7f7;
  border-radius: 0 0 3px 3px;
  display: flex;
  justify-content: center;
  min-height: 70px;
  padding: 0 0.5em;
}

.item-box-text h3 {
  font-size: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.5;
}

.triming-work {
  overflow: hidden;
  padding-top: 65%;
  position: relative;
}

.triming-work img {
  vertical-align: bottom;
}

/* items flow共通
================================================================= */

.box-wrapper {
  display: flex;
  position: relative;
  width: 100%;
}

.box-wrapper:hover .box-img img {
  transform: scale(1.2);
}

.box-img {
  display: inline-block;
  height: auto;
  order: 2;
  overflow: hidden;
  width: 50%;
}

.box-img img {
  transition: all 1.8s 0s ease;
  vertical-align: bottom;
  width: 100%;
}

.box-img img:hover {
  transform: scale(1.2);
}

.box-text {
  background: #5cb85c;
  padding-top: 4.375em;
  width: 50%;
}

.box-text h3 {
  color: #fff;
  font-size: 3.2rem;
  letter-spacing: 0.05em;
  margin-bottom: 1.875em;
  text-align: center;
}

.box-text a {
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 1.4rem;
  text-align: center;
}

/* 折り込みチラシ
================================================================= */

#flow .box-img {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

#flow .box-text {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

/* 店舗情報
================================================================= */

.list dl {
  border-top: 1px solid #aba696;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 0.05em;
  line-height: 1.75;
  padding: 1.875em 0;
  text-align: justify;
}

.list dl:last-child {
  border-bottom: 1px solid #aba696;
}

.list dl dt {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  width: 20%;
}

.list dl dd {
  width: 80%;
}

/* アクセス
================================================================= */

.map {
  height: 450px;
  height: 0;
  overflow: hidden;
  padding-bottom: 39.475%;
  position: relative;
}

.map iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
