@charset 'utf-8';

/* test css */

.button {
	border: 2px solid #fff;
	height: 50px;
	width: 200px;
}

.slid-1_btn {
	background: var(--color_red);
}

.slid-2_btn {
	background: var(--color_blue);
}

.slid-3_btn {
	background: var(--color_yellow);
}
