/* test css */

.swiper-container {
	height: 100vh;
	width: 100%;
}

.slid-1 {
	background: url(../images/25803898.jpg) center center / cover no-repeat;
}

.slid-2 {
	background: url(../images/pixta_7229716_XL.jpg) center center / cover
		no-repeat;
}

.slid-3 {
	background: url(../images/48273048.jpg) center center / cover no-repeat;
}

.button {
	border: 2px solid #fff;
	height: 50px;
	width: 200px;
}

.slid-1_btn {
	background: var(--color_red);
}

.slid-2_btn {
	background: var(--color_blue);
}

.slid-3_btn {
	background: var(--color_yellow);
}
