@charset 'utf-8';

/* top css */

/* スライダー */

.swiper-main {
  height: 100vh;
}

.slid {
  position: relative;
}

.slid_img1 {
  background: url(../images/slid/slid-darkbg-1.jpg) center center / cover
    no-repeat;
}

.slid_img2 {
  background: url(../images/slid/slid-darkbg-2.jpg) center center / cover
    no-repeat;
}

.slid_img3 {
  background: url(../images/slid/slid-darkbg-3.jpg) center center / cover
    no-repeat;
}

.slid-img-content {
  left: 50%;
  max-width: 1200px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.slid-img-content .el-title {
  color: #fff;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.slid-img-content .el-text {
  color: #fff;
  font-size: 2.1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.slid-img-content .el-btn {

  /* background: red; */
  margin: 0 auto;
  text-align: center;
}

.slid-img-content .el-btn a {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #f9f9f9;
  border-radius: 100px;
  color: #f9f9f9;
  display: inline-block;
  font-size: 1.8rem;
  letter-spacing: 0.1em;
  padding: 15px 0;
  width: 270px;
}

/* news */

/* shop */

.shop-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shop-flex-child {
  position: relative;

  /* width: calc(100% / 3); */
}

.shop-flex-child img {
  display: block;
}

.shop-flex-inner {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.shop-flex-inner h3 {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #f0f0f0;
  color: #f0f0f0;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 3.125;
  margin-bottom: 3.125em;
}

.shop-flex-inner p {
  color: #f0f0f0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}

/* works
==================================================== */

.swiper-parent {
  position: relative;
}

.triming-work {
  overflow: hidden;
  padding-top: 56%;
  position: relative;
  width: 100%;
}

.triming-work img {
  vertical-align: bottom;
}

.swiper-button-prev,
.swiper-container-rtl,
.swiper-button-next {
  background-color: rgba(255, 255, 255, 0.5);
  background-size: 80%;
}

.swiper-pagination {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
  margin: 0 4px;
}

.swiper-reform,
.swiper-exterior {
  padding-bottom: 50px;
}

.swiper-button-prev,
.swiper-button-next {
  margin-top: -22px; /* ボタンの高さ（44px）の半分のネガティブマージンで上に少しずらす */
  top: calc((100% - 50px) * 0.5); /* ページネーション・スクロールバー（50px）を除く縦位置の中央（＝スライドの高さの中央）に一旦配置 */
}

.swiper-pagination-brown .swiper-pagination-bullet-active {
  background: #855835;
}

.swiper-pagination-green .swiper-pagination-bullet-active {
  background: #5cb85c;
}

.item-box-text {
  background: #ccc;

  /* height: 100px; */
}

/* items flow共通 */

.box-wrapper {
  display: flex;
  width: 100%;
}

.box-img {
  order: 2;
  width: 50%;
}

.box-img img {
  vertical-align: bottom;
  width: 100%;
}

.box-text {
  background: #5cb85c;
  padding-top: 4.375em;
  width: 50%;
}

.box-text h3 {
  color: #fff;
  font-size: 3.2rem;
  letter-spacing: 0.05em;
  margin-bottom: 1.875em;
  text-align: center;
}

.box-text a {
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 1.4rem;
  text-align: center;
}

/* items */

#items .box-img {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

#items .box-text {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

/* flow */

#flow .box-img {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

#flow .box-text {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

/* インフォ */

.info-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info-flex-child {
  margin-bottom: 30px;
}

.info-flex::before,
.info-flex::after,
.info-flex .info-flex-child {
  width: calc((100% - 30px) / 4);
}

.info-flex::before,
.info-flex::after {
  content: "";
}

.info-flex::before {
  order: 1;
}

.info-flex img {
  vertical-align: bottom;
}
