@charset 'utf-8';

/* top css */

/* スライダー */

.swiper-container {
  height: 100vh;
}

.slid {
  position: relative;
}

.slid_img1 {
  background: url(../images/25803898-bk.jpg) center center / cover no-repeat;
}

.slid_img2 {
  background: url(../images/pixta_7229716_XL-bk.jpg) center center / cover
    no-repeat;
}

.slid_img3 {
  background: url(../images/48273048-bk.jpg) center center / cover no-repeat;
}

.slid-img-content {
  left: 50%;
  max-width: 1200px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.slid-img-content .el-title {
  color: #fff;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.slid-img-content .el-text {
  color: #fff;
  font-size: 2.1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.slid-img-content .el-btn {

  /* background: red; */
  margin: 0 auto;
  text-align: center;
}

.slid-img-content .el-btn a {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #f9f9f9;
  border-radius: 100px;
  color: #f9f9f9;
  display: inline-block;
  font-size: 1.8rem;
  letter-spacing: 0.1em;
  padding: 15px 0;
  width: 270px;
}

/* news */

.article-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 30px;
  width: calc((100% - 30px) / 2);
}

.article-text {
  background: #f7f7f7;
  padding: 0.9375em;
}

.article-text p {
  letter-spacing: 0.05em;
  line-height: 1.75;
}

.article-text time {
  font-family: "Roboto", "verdana", sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.article-text div span:first-child {
  margin-right: 1.875em;
}

.article-text div span:last-child {
}

.article-text div span:last-child a {
  background: #5cb85c;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.3em 0.6em;
}

.article-text h3 {
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0.9375em;
}

/* shop */

#shop {
  padding-bottom: 85px;
}

.shop-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shop-flex-child {
  position: relative;

  /* width: calc(100% / 3); */
}

.shop-flex-child img {
  display: block;
}

.shop-flex-inner {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);

  /* width: 64.1%; */
  width: 70%;
}

.shop-flex-inner h3 {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #f0f0f0;
  color: #f0f0f0;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 3.125;
  margin-bottom: 3.125em;
}

.shop-flex-inner p {
  color: #f0f0f0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}
