@charset 'utf-8';

/* top css */

/* スライダー */

.swiper-container {
  height: 100vh;

  /* width: 100%; */
}

.slid {
  position: relative;
}

.slid_img1 {
  background: url(../images/25803898.jpg) center center / cover no-repeat;
}

.slid_img2 {
  background: url(../images/pixta_7229716_XL.jpg) center center / cover
    no-repeat;
}

.slid_img3 {
  background: url(../images/48273048.jpg) center center / cover no-repeat;
}

.slid_img_content {
  left: 50%;
  max-width: 1200px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.slid_img_content .el_title {
  color: #fff;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.slid_img_content .el_text {
  color: #fff;
  font-size: 2.1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.slid_img_content .el_btn {

  /* background: red; */
  margin: 0 auto;
  text-align: center;
}

.slid_img_content .el_btn a {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #f9f9f9;
  border-radius: 100px;
  color: #f9f9f9;
  display: inline-block;
  font-size: 1.8rem;
  letter-spacing: 0.1em;
  padding: 15px 0;
  width: 270px;
}
