@charset 'utf-8';

/* =================================================================
work css
================================================================= */

/* .page-bg::after {
  background: rgba(0, 0, 0, .6);
  content: '';
  display: block;
  height: 500px;
} */

/* section > div {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
} */

.page-catch {
  font-size: 2rem;
  letter-spacing: .05em;
  line-height: 2;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  justify-content: center;
  margin-top: 50px;
}

.pagination span {
  background: #71c171;
  color: #fff;
  padding: 10px 15px;
}

.pagination a {
  display: block;
  padding: 10px 15px;
}

.pagination a:not(:last-of-type) {
  border: 1px solid #ccc;
  margin-left: 15px;
}

.pagination a:last-of-type::after {
  content: '	\f101';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

/* 投稿ページ
================================================================= */

/* レイアウト */

/* 画像 */

#article img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

/* 見出し */

#article h2 {
  font-size: 3.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .05em;
}

#article h3 {
  font-size: 2.8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .05em;
}

/* 本文 */

#article p {
  color: #5a5a5a;
  font-size: 1.6rem;
  letter-spacing: .05em;
  line-height: 1.75;
  text-align: left;
}

/* その他 */

#article time {
  font-size: 2.4rem;
  font-weight: 600;
}

/* ボタン */

/* リンク */

/* ページャー */

.pager {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 1000px;
  padding-left: 15px;
  padding-right: 15px;
}

.pager ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.pager ul li {
  background: #5cb85c;
  width: calc((100% - 30px) / 2);
}

.pager ul li a {
  background: #5cb85c;
  color: #fff;
  display: block;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  letter-spacing: .05em;
  padding: 1em 0;
  text-align: center;
  transition: .5s all ease 0s;
  width: 100%;
}

.pager ul li:first-of-type a::before {
  color: #fff;
  content: '\f100';
  font-family: 'Font Awesome 5 Free';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 900;
  padding-right: .625em;
}

.pager ul li:last-of-type a::after {
  color: #fff;
  content: '\f101';
  font-family: 'Font Awesome 5 Free';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 900;
  padding-left: .625em;
}
